@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --background-color: #efe7e5;
  --text-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  margin: 3% 15%;
}

.accueil {
  margin: 3% 15% 0 15%;
}

p {
  line-height: 25px;
}

nav {
  margin: 3% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  display: flex;
  align-items: center;
}

nav h1 a {
  margin-left: 3px;
  color: inherit;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  font-weight: 500;
}

nav ul li {
  margin-left: 40px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

nav ul li a {
  color: inherit;
}

nav ul li span {
  position: absolute;
  top: -5px;
  right: -28px;
}

nav ul li button {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border: solid 2px #333;
  border-radius: 15px;
  padding: 5px 8px;
  color: inherit;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: color ease-in-out 4s;
  transition: background-color ease-in-out .3s;
}

nav ul li button:hover {
  background-color: #333;
  color: #efe7e5;
  transition: all ease-in-out .3s;
}

.active {
  color: #777372;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

header .header-left {
  flex: 6;
  margin-right: 50px;
}

header .header-left small {
  font-weight: bold;
  display: flex;
  align-items: center;
}

header .header-left small a {
  color: inherit;
  text-decoration: none;
}

header .header-left h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 20px;
}

header .header-left p {
  text-align: justify;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.links a {
  text-decoration: none;
  color: inherit;
  position: relative;
  margin-right: 40px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
}

.links a span {
  position: absolute;
  top: -5px;
  right: -28px;
  cursor: pointer;
}

header .header-right {
  flex: 5;
}

header .header-right img {
  width: 100%;
  border-radius: 100%;
}

.burger-menu {
  z-index: 1000;
  display: none;
  width: 35px;
  cursor: pointer;
}

.about {
  margin-top: 150px;
}

.about p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
}

.about p sup a {
  font-size: smaller;
  text-decoration: underline;
}

.about p ul li {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.signature {
  margin-top: 20px;
  width: 30%;
  background-color: #efe7e5;
}

.title {
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: 500;  
  margin: 25px 0;
}

h3 {
  font-size: 25px;
  font-weight: 400;  
  margin: 25px 0;
}

.projets {
  margin-top: 60px;
}

.projets .card {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.projets .card .left {
  margin-right: 40px;
}

.projets .card .left img {
  height: 200px;
  width: 400px;
}

footer p {
  font-size: 15px;
}

.mobile-menu {
  margin-left: 0;
}

@media screen and (max-width: 960px) {
  .nav-links {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(230, 230, 230, 0.50);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: -100%;
    transition: all 0.5s ease;

  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 20px 0;
    font-size: 1.2em;
  }

  .burger-menu {
    display: block;
  }

  .projets .card {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 620px) {
  header {
    flex-direction: column-reverse;
  }
  header .header-left {
    margin-right: 0;
  }

  header .header-right {
    margin-bottom: 40px;
  }
  header .header-right img {
    width: 250px;
  }

  .projets .card .left {
    margin-right: 0;
  }

  .projets .card .left img {
    width: 100%;
    height: auto;
  }
}