body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #add8e6; /* Light blue background */
}

/************ Navigation bar ************/

header {
  color: white;
}

nav {
  background-color: #003366; /* Dark blue background */
  color: white;
  padding: 10px 0;
  display: flex;
}

nav img {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  text-align: center;
  padding: 20px 0;
}

/************ Accueil ************/

.intro {
  margin: 3rem;
}

.intro h1 {
  margin: 0;
}

.intro h2 {
  margin: 10px 0;
}

.presentation {
  background-color: #57a6fa;  
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category {
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 20px;
  border: 2px dotted white;
  flex: 1;
  max-width: 200px;
  text-align: center;
}

.moi {
  margin-top: 20px;
}

/************ DOCUMENTATIONS ************/

.buttons {
  margin: 20px 0;
}
.buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.buttons .pdf-button {
  background-color: #007bff;
}
.buttons .editable-button {
  background-color: #00008b;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #333;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects a {
  width: 200px;
  height: 100px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 2px dashed white;
}
.projects .school-projects {
  background-color: #b22222;
}
.projects .company-projects {
  background-color: #1e90ff;
}

/* FOOTER */

footer {
  margin-top: 20px;
  font-size: 0.9em;
}
